
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 137, 64); 
    font-family: 'poppins', 'sans-serif';
    color: white;
    

} 

.container{
    max-width: 1200px;
    padding: 20px;
    display: flex;
   
    align-items:center;
    justify-content: center;
    min-height: 80vh;
    


}

.container > div{
    flex: 1;
    padding: 0 20px;
}

h3{
    font-size: 40px;
    line-height: 50px;
}

p{
    font-size: 15px;
    opacity: 0.8;

}

.box{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px rgba(0, 0, 0, ,0.2);
    margin-bottom: 20px;
    text-align: center;
}


.box p{
    margin: 0;
    
}
.box p {
    background-color: hsl(248, 32%, 49%);
    border: hsl(248, 32%, 49%);
}
.box-blue{
    background-color: hsl(248, 32%, 49%);
}

input{
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    font-weight: 600;
    font-size: 14px;
    padding: 15px 25px;
    display:block;
    width: 100%
}

button{
    background-color: Grayish Blue: hsl(246, 25%, 77%);
}
@media screen and (max-width: 1440px){
    .container{flex-direction: column}

    
}
 @media screen and (max-width:375px){
    .box flex{flex-direction : column}
 }
